@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    background: #FEFEFE;
    font-family: 'Rubik', sans-serif;
}
#container {
max-width: 1280px;
margin: 0 auto;
padding: 0.5em;
min-height: 80vh;
overflow: hidden;
display: flex;
justify-content: flex-start;
}

/* for small screen */
.content {
    width: 100%;
    text-align: center;
    background-color: grey;
    opacity: 0.5;
    color: white;
    font-size: 2em;
    padding-bottom: 60px;
}
.images {
    position: fixed;
    z-index: -1;
    width: 100%;
    text-align: center;
}
.animated {
    width: 85%;
}

h1 {
    font-size: 5em;
    margin-bottom: 50px;
}

#scroll, #description, #projects {
    text-align: center;
    margin-bottom: 500px;

}

#projects {
    margin-bottom: 20px;

}

.showcase {
    padding-top: 50px;
    background-color: white;
    text-align: center;
    padding-bottom: 50px;

}

.link {
    text-decoration: none;
    font-size: 1em;
    border: 2px solid black;
    color: white;
    display: inline-block;
    width: 2.5cm;
    padding: 5px;
    background: black;
    border-radius: 3%;
}

#tech {
    text-decoration: none;
    list-style-type: none;
}

#project {
    margin-bottom: 20px;
}

@media only screen and (min-width: 660px) {
    animated {
        width: 65px;
    }
}


/* for big screen */

@media only screen and (min-width: 1100px) {
    .content {
        width: 50%;
        background-color: #FEFEFE;
        color: black;
        opacity: 1;
    }
    
    .images{
        position: fixed !important;
        left: 50%;
        top:inherit !important;
        width: 50%;
        z-index: -1;
    }
    
    .animated {
        width: 900px;
        padding-bottom: 20px;
    }
    
    h1 {
        text-align: center;
        margin-top: 250px;
        font-size: 9em;
        margin-bottom: 50px;
    }
    
    #scroll, #description, #projects {
        text-align: center;
        margin-bottom: 500px;
    }
    
    #description {
        font-size: 5em;
    }
    
    #about {
        text-align: center;
        margin-bottom: 150px;
        font-size: 5em;
    }
    
    .showcase {
        padding-top: 60px;
        background-color: white;
        text-align: center;
        padding-bottom: 100px;
    
    }
    #projects {
        margin-bottom: 20px;
    
    }
    
    .allworks {
        padding: 0 10px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    #tech {
        text-align: left;
        font-size: 1.3em;
    }
    .link {
        text-decoration: none;
        font-size: 1em;
        border: 2px solid black;
        color: white;
        display: inline-block;
        width: 2.5cm;
        padding: 5px;
        background: black;
        border-radius: 3%;
    }
    
}