@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    background: #FEFEFE;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    min-width: 80vw;
    min-height: 80vh;
    position: relative;

}

/* mobile first */
.animated {
    margin: 0;
    z-index: -1;
    width: 110%;
    position: fixed;
    top: 0;
}

.content {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 1%;
    background: gray;
    opacity: 0.6;
    color: white;
}

#name {
    margin-top: 70%;
    font-size: 2em;
}

#scroll, #description, #about {
    margin-bottom: 150%;
}

#description, #about {
    font-size: 1.5em;
    padding: 5%;
}

.showcase {
    background-color: white;
    width: 100%;
    padding: 1%;
    text-align: center;
}

#projects {
    margin: 20% 0;
    font-size: 2em;
}

#project {
    display: block;
    margin-bottom: 20%;
}

h3 {
    font-size: 1.5em;
    text-decoration-line: underline;
}

#tech {
    text-align: left;
    padding-left: 10%;
}

.link {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1.5px solid black;
    border-radius: 5%;
    padding: 1%;
    cursor: pointer;
}

/* ipad size */
@media only screen and (min-width: 660px) {
    .animated {
        margin: 0 10%;
        width: 80%;
    }

    #name, #projects {
        font-size: 3em;
    }

    #description, #about, h3 {
        font-size: 2.5em;
    }

    #tech, .link {
        font-size: 2em;
    }
}

/* laptop size */
@media only screen and (min-width: 1204.1px) {
    .content {
        width: 50%;
    }

    .animated {
        width: 40%;
        height: 100%;
        right: 0;
        margin-left: 10%;
    }

    .content {
        background: none;
        opacity: 1;
        color:rgb(44, 43, 43);
        margin-left: 7%;
    }

    #scroll, #description, #about {
        margin-bottom: 100%;
    }

    .allworks {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }

    #tech, .link {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    #projects {
        margin: 5% 0;
        font-size: 2em;
    }

    #project {
        margin-bottom: 10%;
    }


}

