@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    background: #FEFEFE;
    font-family: 'Rubik', sans-serif;
}
#container {
max-width: 1280px;
margin: 0 auto;
padding: 0.5em;
min-height: 80vh;
overflow: hidden;
display: flex;
justify-content: flex-start;
}

.content {
    width: 50%;
}

.images{
    position: fixed !important;
    left: 50%;
    top:inherit !important;
    width: 50%;
    z-index: -1;
}

.animated {
    width: 50%;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 250px;
    font-size: 7em;
    margin-bottom: 50px;
}

#scroll, #description, #projects {
    text-align: center;
    margin-bottom: 500px;
}

#description {
    font-size: 3em;
}

#about {
    text-align: center;
    margin-bottom: 150px;
    font-size: 2em;
}

.showcase {
    padding-top: 50px;
    background-color: white;
    text-align: center;
    padding-bottom: 50px;

}
#projects {
    margin-bottom: 20px;

}

.allworks {
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#tech {
    text-align: left;
}
.link {
    text-decoration: none;
    border: 2px solid black;
    color: white;
    display: inline-block;
    width: 2.5cm;
    padding: 5px;
    background: black;
    border-radius: 3%;
}
